global-exclude *.pyc

include LICENSE
include MANIFEST.in
include README.md
include setup.cfg
include setup.py

exclude conftest.py

recursive-include supriya/ *.py
recursive-include supriya/ *.pxd
recursive-include supriya/ *.pyx
recursive-include supriya/assets/ *
recursive-include vendor/ *

recursive-exclude dev/ *
recursive-exclude dist/ *
recursive-exclude docs/ *
recursive-exclude tests/ *
