global-include *.py
global-include *.pyx
global-exclude *.pyc

include LICENSE
include MANIFEST.in
include README.rst
include graph.png
include requirements.txt
include setup.cfg
include setup.py

recursive-include supriya/assets *
recursive-include supriya/scripts *
