global-include *.py
global-exclude *.pyc

include .travis.yml
include LICENSE
include MANIFEST.in
include README.md
include graph.png
include requirements.txt
include setup.cfg
include setup.py
include tox.ini

recursive-include supriya/assets *
recursive-include supriya/docs *
recursive-include supriya/scripts *

recursive-exclude supriya/docs/build *