import supriya
from {{project_package_name}} import project_settings


material = supriya.Session.from_project_settings(project_settings)

with supriya.synthdeftools.SynthDefBuilder(
    duration=1.,
    out_bus=0,
    ) as builder:
    source = supriya.ugens.Line.ar(
        duration=builder['duration'],
        )
    supriya.ugens.Out.ar(
        bus=builder['out_bus'],
        source=[source] * len(material.audio_output_bus_group),
        )
ramp_synthdef = builder.build()

with material.at(0):
    material.add_synth(
        duration=1,
        synthdef=ramp_synthdef,
        )
