div.inherited dl dd {
   display: none;
}

div.inherited dl.open dd {
   display: block;
}

span.toggle {
    display: inline-block;
    width: 1.5em;
}

div.inherited dl.open span.toggle:before {
    content: "▼";
}

div.inherited dl.open span.toggle:hover:before {
    content: "▶";
}

div.inherited dl.closed span.toggle:before {
    content: "▶";
}

div.inherited dl.closed span.toggle:hover:before {
    content: "▼";
}
